.myheader {
  display: flex;
  height: 135px;
  background-color: #ffffff;
}

.myheader > p {
  font-family: Lato;
  font-size: 14px;
  color: #4B5157;

}

* {
  margin: 0;
  padding: 0;
  width: 1366px;
}
.free{
  padding-left: 143px;
  padding-top: 51px;
}
.NY{
  width: 203px;
  padding-left: 258px;
  padding-top: 83px;
}
.Boston{
  padding-left: 591px;
  padding-top: 73px;
}
.date{
  padding-left: 961px;
  padding-top: 83px;
}
.sun{
  padding-left: 1179px;
  padding-top: 83px;
}
.temp{
  padding-left: 1209px;
  padding-top: 83px;
}
