.myheader {
  display: flex;
  height: 135px;
  background-color: #ffffff;
}

.myheader > p {
  font-family: Lato;
  font-size: 14px;
  color: #4B5157;
  line-height: 20px;
}
.free{
  margin-left: 143px;
  padding-top: 51px;
  width: 100px;
  height: 84px;
}
 .NY{
  white-space: nowrap;
  width: 203px;
  margin-left: 15px;
  padding-top: 83px;
}
.Boston{
  margin-left: 130px;
  padding-top: 73px;
  width: 184px;
  height: 40px;
}
.date{
  white-space: nowrap;
  width: 195px;
  margin-left: 186px;
  padding-top: 83px;
}
.sun{
  margin-left: 23px;
  padding-top: 83px;
  width: 20px;
  height: 20px;
}
 .temp{
  width: 44px;
  white-space: nowrap;
  margin-left: 10px;
  /* margin-right: 113px; */
  padding-top: 83px;
}


 .menu{
  height: 45px;
  background-color:  #5D5FEF;
}
.menu ul{
  list-style-type: none; 
  overflow: hidden;
  padding-top: 17px;
  margin-left: 113px;
  margin-right: 116px;
  
}
.menu ul li{
  display: inline;
  white-space: nowrap;
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  color: #FFFFFFFF;
  line-height: 20px;
}
.menu ul li:nth-child(odd) {
  margin-right: 46px;
}

.menu ul li:nth-child(even) {
  margin-right: 47px; 
}

.medium{
  height: 475px;
  background-color:  #5D5FEF;
  padding-top: 30px;
}
.medium ul{
  display: flex;
  list-style-type: none;
  background-color:  #30363D;
  width: 1140px;
  height: 130px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  margin-left: 113px;
  padding-top: 25px;
  margin-right: 113px;
}
.medium ul li{
  display: flex;
  width:259px;
  margin-left: 25px;
  text-align: left;
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  border-right: 1px solid #4B5157;
}
.medium ul li:last-child{
  border-right: none;
}

.medium ul li img{
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 25px;
}

.firsttable{
  margin-left: 113px;
  border: 1px solid #D9DADB;
  border-radius: 10px; 
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  width: 1366px;
}

