.myheader {
  display: flex;
  height: 135px;
  background-color: #ffffff;
}

.myheader > p {
  font-family: Lato;
  font-size: 14px;
  color: #4B5157;
  line-height: 20px;
}
.free{
  margin-left: 143px;
  padding-top: 51px;
  width: 100px;
  height: 84px;
}
 .NY{
  white-space: nowrap;
  width: 203px;
  margin-left: 15px;
  padding-top: 83px;
}
.Boston{
  margin-left: 130px;
  padding-top: 73px;
  width: 184px;
  height: 40px;
}
.date{
  white-space: nowrap;
  width: 195px;
  margin-left: 186px;
  padding-top: 83px;
}
.sun{
  margin-left: 23px;
  padding-top: 83px;
  width: 20px;
  height: 20px;
}
 .temp{
  width: 44px;
  white-space: nowrap;
  margin-left: 10px;
  /* margin-right: 113px; */
  padding-top: 83px;
}
.play{
  width: 20px;
  height:20px;
  float: right;
  margin-left: -10px;
}

 .menu{
  height: 45px;
  background-color:  #5D5FEF;
}
.menu ul{
  list-style-type: none; 
  overflow: hidden;
  padding-top: 17px;
  margin-left: 113px;
  margin-right: 116px;
  
}
.menu ul li{
  display: inline;
  white-space: nowrap;
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFFFF;
  line-height: 20px;
}
.menu ul li:nth-child(odd) {
  margin-right: 46px;
}

.menu ul li:nth-child(even) {
  margin-right: 47px; 
}

.medium{
  /* height: 475px; */
  background: linear-gradient(to bottom, #5D5FEF 0, #5D5FEF 480px,  #D9DADB 480px, #D9DADB 1620px);
  /* background-color:  #5D5FEF; */
  padding-top: 30px;
}
.medium ul{
  display: flex;
  list-style-type: none;
  background-color:  #30363D;
  width: 1140px;
  height: 130px;
  border-radius: 10px;
  margin-left: 113px;
  padding-top: 25px;
  margin-right: 113px;
}
.medium ul li{
  display: flex;
  width:259px;
  margin-left: 25px;
  text-align: left;
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  border-right: 1px solid #4B5157;
}
.medium ul li:last-child{
  border-right: none;
}

.medium ul li img{
  width: 65px;
  height: 65px;
  margin-left: 15px;
  margin-right: 25px;
}

.firsttable{
  margin-left: 113px;
  margin-top: 30px;
  width: 1140px;
  height: 570px;
  border-spacing: 0;
  border-radius: 10px; 
  overflow: hidden;
}
.firsttable td{
  background-color:  #FFFFFF;
  border: none;
  border-bottom: 1px solid #D9DADB;
  height: 98px;
  padding: 0;
  overflow: hidden;
}
.firsttable td > p{
  width: 213px;
  margin-left: 25px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color:  #4B5157;
}
.tab11{
  width: 263px;
  height: 75px;
}
.tabl12{
  background-color:  #F5F5F5;
}


.monttd{
  position: relative;
  width: 877px; 
  height: 570px;
  background-image: url('src/mount.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.monttd > p{
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-left: 55px;
  color: #FFFFFF;
}
.mount{
  width: 877px; 
  height: 570px;
  border-radius: 10px 0px 0px 10px;
}
.end{
  margin-top: -287px; 
  height: 1145px;
  background-color: #D9DADB;
}
.wPlay{
position: absolute;
width: 50px;
height: 50px;
top: 425px;
left: 223px; 
}
.Avatar{
width: 45px;
height: 45px;
margin-top: 55px;
margin-left: 55px;
}
.readmore{
position: absolute;
width: 138px;
height: 40px;
top: 430px;
left: 55px;
padding-left: 25px;
border-radius: 10px;
background-color: #4592FF;
font-family: Lato;
color:#FFFFFF;
font-size: 14px;
line-height: 20px;
text-align: left;
font-weight: bold;
border: none;
}
* {
  margin: 0;
  padding: 0;
  width: 1366px;
}

